@import '../variables.css';

.StaticLabelResult {
    position: relative;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    font:inherit;
    font-family: sans-serif;
    font-size:1000%;
    word-wrap: break-word;
    text-align: center;
}
