@import '../variables.css';

.StaticLabelResult {
    position: relative;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    background: green;
    font-family: sans-serif;
    font-size:600%;
}
