/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
div.TextBox {
    position: relative; 
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

.TextBox-input {
}

