/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */
div.TextBox {


}

.TextBox-input {
    width: 14%;
    height:50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 42%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border:solid 4px;
    border-color: white;
    border-radius: 5px;
    font-size: 25px;
    color:white;

    background: rgba(255,255,255,.1);
}

.TextBox-input:focus{
    color:white;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
