@import '../variables.css';

.PushButton {
    position:relative;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:100px;
    color:#FFF;
    display:block;
    text-decoration:none;
    margin: 0;
    position: absolute;
    border-radius:5px;
    border:solid 1px #D94E3B;
    background:#cb3b27;
    text-align:center;
    padding:20px 30px;

    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	/*
	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;*/
}

.PushButton:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;

}
