@import '../variables.css';

.PushButton-text {
    position:relative;
    top: 50%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width:200px;
    color: white;
    display:block;
    margin: 0;
    position: absolute;
    border-radius:5px;
    border-color:white;
    border:solid 4px;
    font: inherit;
    font-size: 25px;
    text-align:center;
    padding:20px 30px;
    background-color: transparent;
    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}
.PushButton-text:hover {
     background-color: #fff;
      color: #3a7bd5;
      border-color: white;

}
.PushButton-container {
    background:transparent;
}
.PushButton-text:focus {
    outline:None;

}
