@import '../variables.css';

.PushButton {
    position: relative;
    margin: 0;
    position: absolute;
    display: block;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 200px;
    color: white;
    background: green;
    font-family: sans-serif;
    text-align: center;


    -webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;
}