@import '../variables.css';


.Background {
    /*background-image: url(http://7-themes.com/data_images/out/61/6980749-balloons-house-in-up-movie.jpg);*/
    /*background-size: 100%;
    background-repeat: no-repeat;*/
    background-color: blue;
    color:red;
    width: 100%;
    height: 100%;
}
